#BUS_SORT

#MANUAL_PLACE


#W
bist_clk           0000 0 4
bist_rst_n
bist_en
bist_run
bist_shift
bist_load
bist_sdi
bist_done
bist_sdo
wbd_int_rst_n


#E
io_out\[37\]    0  0  2
io_out\[36\]
io_out\[35\]
io_out\[34\]
io_out\[33\]
io_out\[32\]
io_out\[31\]
io_out\[30\]
io_out\[29\]
io_out\[28\]
io_out\[27\]
io_out\[26\]
io_out\[25\]
io_out\[24\]
io_out\[23\]
io_out\[22\]
io_out\[21\]
io_out\[20\]
io_out\[19\]
io_out\[18\]
io_out\[17\]
io_out\[16\]
io_out\[15\]
io_out\[14\]
io_out\[13\]
io_out\[12\]
io_out\[11\]
io_out\[10\]
io_out\[9\]
io_out\[8\]
io_out\[7\]
io_out\[6\]
io_out\[5\]
io_out\[4\]
io_out\[3\]
io_out\[2\]
io_out\[1\]
io_out\[0\]
io_oeb\[37\]
io_oeb\[36\]
io_oeb\[35\]
io_oeb\[34\]
io_oeb\[33\]
io_oeb\[32\]
io_oeb\[31\]
io_oeb\[30\]
io_oeb\[29\]
io_oeb\[28\]
io_oeb\[27\]
io_oeb\[26\]
io_oeb\[25\]
io_oeb\[24\]
io_oeb\[23\]
io_oeb\[22\]
io_oeb\[21\]
io_oeb\[20\]
io_oeb\[19\]
io_oeb\[18\]
io_oeb\[17\]
io_oeb\[16\]
io_oeb\[15\]
io_oeb\[14\]
io_oeb\[13\]
io_oeb\[12\]
io_oeb\[11\]
io_oeb\[10\]
io_oeb\[9\]
io_oeb\[8\]
io_oeb\[7\]
io_oeb\[6\]
io_oeb\[5\]
io_oeb\[4\]
io_oeb\[3\]
io_oeb\[2\]
io_oeb\[1\]
io_oeb\[0\]
la_data_out\[127\]
la_data_out\[126\]
la_data_out\[125\]
la_data_out\[124\]
la_data_out\[123\]
la_data_out\[122\]
la_data_out\[121\]
la_data_out\[120\]
la_data_out\[119\]
la_data_out\[118\]
la_data_out\[117\]
la_data_out\[116\]
la_data_out\[115\]
la_data_out\[114\]
la_data_out\[113\]
la_data_out\[112\]
la_data_out\[111\]
la_data_out\[110\]
la_data_out\[109\]
la_data_out\[108\]
la_data_out\[107\]
la_data_out\[106\]
la_data_out\[105\]
la_data_out\[104\]
la_data_out\[103\]
la_data_out\[102\]
la_data_out\[101\]
la_data_out\[100\]
la_data_out\[99\]
la_data_out\[98\]
la_data_out\[97\]
la_data_out\[96\]
la_data_out\[95\]
la_data_out\[94\]
la_data_out\[93\]
la_data_out\[92\]
la_data_out\[91\]
la_data_out\[90\]
la_data_out\[89\]
la_data_out\[88\]
la_data_out\[87\]
la_data_out\[86\]
la_data_out\[85\]
la_data_out\[84\]
la_data_out\[83\]
la_data_out\[82\]
la_data_out\[81\]
la_data_out\[80\]
la_data_out\[79\]
la_data_out\[78\]
la_data_out\[77\]
la_data_out\[76\]
la_data_out\[75\]
la_data_out\[74\]
la_data_out\[73\]
la_data_out\[72\]
la_data_out\[71\]
la_data_out\[70\]
la_data_out\[69\]
la_data_out\[68\]
la_data_out\[67\]
la_data_out\[66\]
la_data_out\[65\]
la_data_out\[64\]
la_data_out\[63\]
la_data_out\[62\]
la_data_out\[61\]
la_data_out\[60\]
la_data_out\[59\]
la_data_out\[58\]
la_data_out\[57\]
la_data_out\[56\]
la_data_out\[55\]
la_data_out\[54\]
la_data_out\[53\]
la_data_out\[52\]
la_data_out\[51\]
la_data_out\[50\]
la_data_out\[49\]
la_data_out\[48\]
la_data_out\[47\]
la_data_out\[46\]
la_data_out\[45\]
la_data_out\[44\]
la_data_out\[43\]
la_data_out\[42\]
la_data_out\[41\]
la_data_out\[40\]
la_data_out\[39\]
la_data_out\[38\]
la_data_out\[37\]
la_data_out\[36\]
la_data_out\[35\]
la_data_out\[34\]
la_data_out\[33\]
la_data_out\[32\]
la_data_out\[31\]
la_data_out\[30\]
la_data_out\[29\]
la_data_out\[28\]
la_data_out\[27\]
la_data_out\[26\]
la_data_out\[25\]
la_data_out\[24\]
la_data_out\[23\]
la_data_out\[22\]
la_data_out\[21\]
la_data_out\[20\]
la_data_out\[19\]
la_data_out\[18\]
la_data_out\[17\]
la_data_out\[16\]
la_data_out\[15\]
la_data_out\[14\]
la_data_out\[13\]
la_data_out\[12\]
la_data_out\[11\]
la_data_out\[10\]
la_data_out\[9\]
la_data_out\[8\]
la_data_out\[7\]
la_data_out\[6\]
la_data_out\[5\]
la_data_out\[4\]
la_data_out\[3\]
la_data_out\[2\]
la_data_out\[1\]
la_data_out\[0\]

#S
user_clock2         0000 0  2
user_clock1     
wbm_clk_i       
wbm_rst_i       
wbm_ack_o       
wbm_cyc_i       
wbm_stb_i       
wbm_we_i        
wbm_adr_i\[0\]  
wbm_dat_i\[0\]  
wbm_dat_o\[0\]  
wbm_sel_i\[0\]  
wbm_adr_i\[1\]  
wbm_dat_i\[1\]  
wbm_dat_o\[1\]  
wbm_sel_i\[1\]  
wbm_adr_i\[2\]  
wbm_dat_i\[2\]  
wbm_dat_o\[2\]  
wbm_sel_i\[2\]  
wbm_adr_i\[3\]  
wbm_dat_i\[3\]  
wbm_dat_o\[3\]  
wbm_sel_i\[3\]  
wbm_adr_i\[4\]  
wbm_dat_i\[4\]  
wbm_dat_o\[4\]  
wbm_adr_i\[5\]  
wbm_dat_i\[5\]  
wbm_dat_o\[5\]  
wbm_adr_i\[6\]  
wbm_dat_i\[6\]  
wbm_dat_o\[6\]  
wbm_adr_i\[7\]  
wbm_dat_i\[7\]  
wbm_dat_o\[7\]  
wbm_adr_i\[8\]  
wbm_dat_i\[8\]  
wbm_dat_o\[8\]  
wbm_adr_i\[9\]  
wbm_dat_i\[9\]  
wbm_dat_o\[9\]  
wbm_adr_i\[10\] 
wbm_dat_i\[10\] 
wbm_dat_o\[10\] 
wbm_adr_i\[11\] 
wbm_dat_i\[11\] 
wbm_dat_o\[11\] 
wbm_adr_i\[12\] 
wbm_dat_i\[12\] 
wbm_dat_o\[12\] 
wbm_adr_i\[13\] 
wbm_dat_i\[13\] 
wbm_dat_o\[13\] 
wbm_adr_i\[14\] 
wbm_dat_i\[14\] 
wbm_dat_o\[14\] 
wbm_adr_i\[15\] 
wbm_dat_i\[15\] 
wbm_dat_o\[15\] 
wbm_adr_i\[16\] 
wbm_dat_i\[16\] 
wbm_dat_o\[16\] 
wbm_adr_i\[17\] 

wbm_dat_i\[17\] 
wbm_dat_o\[17\] 
wbm_adr_i\[18\] 
wbm_dat_i\[18\] 
wbm_dat_o\[18\] 
wbm_adr_i\[19\] 
wbm_dat_i\[19\] 
wbm_dat_o\[19\] 
wbm_adr_i\[20\] 
wbm_dat_i\[20\] 
wbm_dat_o\[20\] 
wbm_adr_i\[21\] 
wbm_dat_i\[21\] 
wbm_dat_o\[21\]  
wbm_adr_i\[22\]  
wbm_dat_i\[22\]  
wbm_dat_o\[22\]  
wbm_adr_i\[23\]  
wbm_dat_i\[23\]  
wbm_dat_o\[23\]  
wbm_adr_i\[24\]  
wbm_dat_i\[24\]  
wbm_dat_o\[24\]  
wbm_adr_i\[25\]  
wbm_dat_i\[25\]  
wbm_dat_o\[25\]  
wbm_adr_i\[26\]  
wbm_dat_i\[26\]  
wbm_dat_o\[26\]  
wbm_adr_i\[27\]  
wbm_dat_i\[27\]  
wbm_dat_o\[27\]  
wbm_adr_i\[28\]  
wbm_dat_i\[28\]  
wbm_dat_o\[28\]  
wbm_adr_i\[29\]  
wbm_dat_i\[29\]  
wbm_dat_o\[29\]  
wbm_adr_i\[30\]  
wbm_dat_i\[30\]  
wbm_dat_o\[30\]  
wbm_adr_i\[31\]  
wbm_dat_i\[31\]  
wbm_dat_o\[31\]  
wbm_err_o        


#N
mem_clk_out      0000 0 2
mem_clk       
func_clk_a
func_cen_a
func_addr_a\[9\] 
func_addr_a\[8\] 
func_addr_a\[7\] 
func_addr_a\[6\] 
func_addr_a\[5\] 
func_addr_a\[4\] 
func_addr_a\[3\] 
func_addr_a\[2\] 
func_addr_a\[1\] 
func_addr_a\[0\] 
func_dout_a\[31\]
func_dout_a\[30\]
func_dout_a\[29\]
func_dout_a\[28\]
func_dout_a\[27\]
func_dout_a\[26\]
func_dout_a\[25\]
func_dout_a\[24\]
func_dout_a\[23\]
func_dout_a\[22\]
func_dout_a\[21\]
func_dout_a\[20\]
func_dout_a\[19\]
func_dout_a\[18\]
func_dout_a\[17\]
func_dout_a\[16\]
func_dout_a\[15\]
func_dout_a\[14\]
func_dout_a\[13\]
func_dout_a\[12\]
func_dout_a\[11\]
func_dout_a\[10\]
func_dout_a\[9\]
func_dout_a\[8\]
func_dout_a\[7\]
func_dout_a\[6\]
func_dout_a\[5\]
func_dout_a\[4\]
func_dout_a\[3\]
func_dout_a\[2\]
func_dout_a\[1\]
func_dout_a\[0\]

func_clk_b    100 0 4
func_cen_b
func_web_b
func_mask_b\[3\]
func_mask_b\[2\]
func_mask_b\[1\]
func_mask_b\[0\]
func_addr_b\[9\]
func_addr_b\[8\]
func_addr_b\[7\]
func_addr_b\[6\]
func_addr_b\[5\]
func_addr_b\[4\]
func_addr_b\[3\]
func_addr_b\[2\]
func_addr_b\[1\]
func_addr_b\[0\]
func_din_b\[31\]
func_din_b\[30\]
func_din_b\[29\]
func_din_b\[28\]
func_din_b\[27\]
func_din_b\[26\]
func_din_b\[25\]
func_din_b\[24\]
func_din_b\[23\]
func_din_b\[22\]
func_din_b\[21\]
func_din_b\[20\]
func_din_b\[19\]
func_din_b\[18\]
func_din_b\[17\]
func_din_b\[16\]
func_din_b\[15\]
func_din_b\[14\]
func_din_b\[13\]
func_din_b\[12\]
func_din_b\[11\]
func_din_b\[10\]
func_din_b\[9\]
func_din_b\[8\]
func_din_b\[7\]
func_din_b\[6\]
func_din_b\[5\]
func_din_b\[4\]
func_din_b\[3\]
func_din_b\[2\]
func_din_b\[1\]
func_din_b\[0\]

